{% extends "base.html" %}

{% block style %}
    <style type="text/css" media="screen">
        body {
            margin: 0;
            font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
            font-size: 18px;
            line-height: 1.5;
            line-height: 1.5;
            color: #333333;
        }

        .table {
            margin-bottom: 1px;
            width: 100%;
        }

        .hiddenRow {
            display: none;
        }

        .container-fluid {
            padding-right: 120px;
            padding-left: 120px;
        }

        .nav-tabs li {
            width: 186px;
            text-align: center;
        }
    </style>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="/static/testfan/js/report.js"></script>
    <script language="javascript" type="text/javascript">
    function showClassDetail(detail_id, hiddenRow_id, class_type) {
        console.log(document.getElementById(hiddenRow_id).className)

        if ('详细' ==  document.getElementById(detail_id).innerText) {
            if ('all' == class_type) {
                document.getElementById(hiddenRow_id).className = 'all';
            }
            else if ('success' == class_type) {
                document.getElementById(hiddenRow_id).className = 'success';
            }
            else if ('error' == class_type) {
                document.getElementById(hiddenRow_id).className = 'error';
            }
            else{
                document.getElementById(hiddenRow_id).className = 'untreaded';
            }
            document.getElementById(detail_id).innerText = "收起"
        }
        else {
            document.getElementById(detail_id).innerText = "详细"
            document.getElementById(hiddenRow_id).className = 'hiddenRow';
        }
    }
    </script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="page-header">
            <h1 class="text-primary" style="font-size:45px;line-height:75px">testfan测试报告</h1>
        </div>

        <div class="col-md-12">
            <div class="col-md-4" style="Background-Color:#F5F5F5; height:300px">
                <h3 style="line-height:25px">测试基本信息</h3>
                <table class="table table-hover table-bordered" style="width:100% height:11px">
                    <tbody>
                        <tr class="info">
                            <td class="text-center">开始时间</td>
                            <td id="start" class="text-center"></td>
                        </tr>
                        <tr class="info">
                            <td class="text-center">结束时间</td>
                            <td id="end" class="text-center"></td>
                        </tr>
                        <tr class="info">
                            <td class="text-center">测试用时</td>
                            <td id="spend" class="text-center"></td>
                        </tr>
                        <tr class="info">
                            <td class="text-center">总用例数</td>
                            <td id="total" class="text-center"></td>
                        </tr>
                        <tr class="info">
                            <td class="text-center">执行用例数</td>
                            <td id="run" class="text-center"></td>
                        </tr>
                        <tr class="info">
                            <td class="text-center">跳过用例数</td>
                            <td id="skip" class="text-center"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-8">
                <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                <div id="pie" style="height:300px;"></div>
            </div>
        </div>
        <div>
            <div><span>&nbsp;</span></div>

    <div class="col-md-12">
        <div class="tabbable" id="tabs-957640">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#panel-0" data-toggle="tab" style="Background-Color: #428bca; color: #fff;">全  部 (<label id="t-total"></label>)</a>
                </li>
                <li>
                    <a href="#panel-1" data-toggle="tab" style="Background-Color: #5cb85c; color: #fff;">成  功 (<label id="t-success"></label>)</a>
                </li>
                <li>
                    <a href="#panel-2" data-toggle="tab" style="Background-Color: #d9534f; color: #fff;">失  败 (<label id="t-fail"></label>)</a>
                </li>
                <li>
                    <a href="#panel-3" data-toggle="tab" style="Background-Color: #5bc0de; color: #fff;">未验证 (<label id="t-skip"></label>)</a>
                </li>
            </ul>
        </div>
            <div class="tab-content">
                <div class="tab-pane active" id="panel-0">
                    <table class="table table-hover table-bordered">
                        <tbody id="panel-data-0">
                            <tr class="all">
                                <td class="text-center" style="Background-Color:#dff0d8">用例编号</td>
                                <td class="text-center" style="Background-Color:#dff0d8">测试域名</td>
                                <td class="text-center" style="Background-Color:#dff0d8">接口方法</td>
                                <td class="text-center" style="Background-Color:#dff0d8">测试状态</td>
                                <td class="text-center" style="Background-Color:#dff0d8">测试结果</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane" id="panel-1">
                    <table class="table table-hover table-bordered">
                        <tbody id="panel-data-1">
                            <tr class="all">
                                <td class="text-center" style="Background-Color:#dff0d8">用例编号</td>
                                <td class="text-center" style="Background-Color:#dff0d8">测试域名</td>
                                <td class="text-center" style="Background-Color:#dff0d8">接口方法</td>
                                <td class="text-center" style="Background-Color:#dff0d8">测试状态</td>
                                <td class="text-center" style="Background-Color:#dff0d8">测试结果</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane" id="panel-2">
                    <table class="table table-hover table-bordered">
                        <tbody  id="panel-data-2">
                            <tr class="all">
                                <td class="text-center" style="Background-Color:#dff0d8">用例编号</td>
                                <td class="text-center" style="Background-Color:#dff0d8">测试域名</td>
                                <td class="text-center" style="Background-Color:#dff0d8">接口方法</td>
                                <td class="text-center" style="Background-Color:#dff0d8">测试状态</td>
                                <td class="text-center" style="Background-Color:#dff0d8">测试结果</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane" id="panel-3">
                    <table class="table table-hover table-bordered">
                        <tbody  id="panel-data-3">
                            <tr class="all">
                                <td class="text-center" style="Background-Color:#dff0d8">用例编号</td>
                                <td class="text-center" style="Background-Color:#dff0d8">测试域名</td>
                                <td class="text-center" style="Background-Color:#dff0d8">接口方法</td>
                                <td class="text-center" style="Background-Color:#dff0d8">测试状态</td>
                                <td class="text-center" style="Background-Color:#dff0d8">测试结果</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        </div>
    </div>
{% endblock %}