h1 {
    padding: .2em;
    margin: 0;
}

#products {
    float: left;
    margin-right: 2em;
}

#cart {
    width: 200px;
    float: left;
    margin-top: 1em;
}

#cart ol {
    margin: 0;
    padding: 1em 0 1em 3em;
}