{% extends 'base.html' %}

{% block script %}
  <script src="https://cdn.bootcss.com/ace/1.4.6/ace.js"></script>
  <script src="https://cdn.bootcss.com/ace/1.4.6/mode-python.js"></script>
  <script src="https://cdn.bootcss.com/ace/1.4.6/mode-sql.js"></script>
{% endblock %}

{% block content %}
  <div id="editor" style="height: 350px; min-height:inherit; max-height: 800px;"></div>
  <script>
    var editor = ace.edit('editor');
    editor.setTheme("ace/theme/monokai");
  </script>
{% endblock %}