<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="https://www.layuicdn.com/layui-v2.5.4/css/layui.css" rel="stylesheet">
    <link href="/static/css/common.css" rel="stylesheet">
    {% block style %}{% endblock %}

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://www.layuicdn.com/layui/layui.all.js"></script>
{#    <script src="https://cdn.bootcss.com/echarts/4.2.0-rc.2/echarts.min.js"></script>#}
    <script src="/static/js/common.js"></script>

    {% block script %}{% endblock %}
</head>
<body>

    {% include "header.html" %}
    {% block content %}{% endblock %}
    {% include "footer.html" %}

</body>
</html>