<header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Testfan测试开发平台</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">首页</a></li>
                <li><a href="/interface/index">接口测试</a></li>
                <li><a href="/function/index">功能测试</a></li>
                <li><a href="/performance/index">性能测试</a></li>
                <li><a href="/monitor/index">机器监控</a></li>
            </ul>
        </div>
        </div>
    </nav>
</header>