{% extends 'base.html' %}

{% block script %}
  <script>
    ;!function(){
      var carousel = layui.carousel;
      carousel.render({
        elem: '#carousel'
        ,width: '100%'
        ,arrow: 'always'
        //,anim: 'updown' //切换动画方式
      });
    }();
  </script>
{% endblock %}

{% block content %}
  <div>
    <div class="layui-carousel" id="carousel">
      <div carousel-item>
        <div>条目1</div>
        <div>条目2</div>
        <div>条目3</div>
        <div>条目4</div>
        <div>条目5</div>
      </div>
    </div>

  </div>
{% endblock %} 